/* Media Queries ----------*/

@media only screen and (max-width: 1199px) {
  .container {
    width: 100%;
    max-width: 970px;
  }
}

@media only screen and (max-width: 991px) {
  #section2,
  #section4 {
    padding-top: 40px;
    margin-top: -40px;
    background-clip: content-box;
  }

  #section3 {
    padding-top: 60px;
  }
  .container {
    width: 750px;
    max-width: 100%;
  }

  .nav-links li {
    padding: 6px;
  }

  .nav-links a {
    font-size: 16px;
  }

  #testimonial-area .container {
    display: flex;
    flex-wrap: wrap;
  }

  .testimonial-content {
    flex: 1 5 50%;
    max-width: 260px;
    margin: 0 auto 30px;
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  #section2,
  #section4 {
    padding-top: 0px;
    margin-top: 0px;
    background-clip: content-box;
  }

  #section3 {
    padding-top: 0px;
  }

  .navbar {
    background-color: transparent;
  }

  .nav-links {
    position: fixed;
    max-height: 0;
    margin-top: 45px;
    width: 100%;
    flex-direction: column;
    clip-path: inset(0% 0% 100% 0%);
    -webkit-clip-path: inset(0% 0% 100% 0%);
    transition: all 0.3s ease-out;
    z-index: 9;
  }

  /* Responsive Nav */
  .nav-active {
    clip-path: inset(0% 0% 0% 0%);
    -webkit-clip-path: inset(0% 0% 0% 0%);
    max-height: 255px;
  }

  .nav-links li {
    padding: 0 15px 0 15px;
  }

  .nav-links a {
    padding: 10px 0;
    border-radius: 2px;
    border: none;
    border-bottom: 2px solid #646d7c;
    line-height: 18px;
  }

  .burger {
    display: block;
    z-index: 10;
  }

  #header-area {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #header-area h1,
  #header-area h4 {
    line-height: 1.1;
  }

  #feature-area .container {
    flex-direction: column;
  }

  .feature-content {
    max-width: 360px;
    margin: 0 auto 30px;
  }

  #blog-area .container {
    flex-direction: column;
    margin: 60px auto 60px;
  }

  .blog-content {
    margin: 0 auto 30px;
  }

  #contact-area .container {
    max-width: 100%;
    padding: 0 15px;
  }

  #contact-area p {
    display: block;
  }
  .contact-form {
    flex-flow: column nowrap;
  }

  .form-left {
    padding-right: 0;
    width: 100%;
  }

  .form-right {
    width: 100%;
    padding-left: 0;
  }

  .form-right .btn {
    max-width: 120px;
  }
}

@media only screen and (max-width: 520px) {
  .navbar .container {
    padding-left: 0;
    padding-right: 0;
  }

  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  #testimonial-area .container {
    flex-direction: column;
  }

  .testimonial-content {
    padding-bottom: 20px;
  }

  .tm-box {
    margin: 0;
  }
}

@media only screen and (max-width: 480px) {
  .nav-links li {
    padding: 0 20px;
  }

  #header-area {
    height: 70vh;
  }

  #header-area h1 {
    font-size: 54px;
  }

  #header-area h4 {
    font-size: 22px;
  }

  #services-area {
    padding: 10px 0 30px;
    background-attachment: initial;
  }
  .contact-section {
    padding: 10px 0;
  }
}
